@page
@model Proiect.Pages.Laptops.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Laptop[0].Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laptop[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laptop[0].Brand.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laptop[0].Processor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laptop[0].DiskSpace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laptop[0].GraphicsCard)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Laptop[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Laptop) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Processor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiskSpace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GraphicsCard)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
